@using LibraryWebApp.Models
@model LibraryWebApp.Models.AuthorModelVM

@{
    ViewBag.Title = "GetAuthors";

    // if userinput = xyz then

}



@*<stlye>
        table, th, td {

        border: 1px solid black;
        border-collapse: collapse;
        }


    </stlye>*@


<h2> Authors</h2>






<table id="tblAuthors" class="display" style="width:100%">

    <thead>
        <tr>
            <th hidden="hidden"></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th hidden="hidden"></th>
            <th hidden="hidden"></th>
            <th hidden="hidden"></th>
            <th>Author ID</th>
            <th>Update Author</th>
            <th>Delete Author</th>
        </tr>

    </thead>

    <tbody>
        @{ foreach (var _current in Model.ListOfAuthorModel)
            {

                //AuthorModel _c = _current;
                <tr>

                    <td hidden="hidden">

                        @Html.Hidden(_current.AuthorID.ToString())

                    </td>

                    <td>
                        @_current.FirstName
                    </td>

                    <td>
                         @_current.LastName
                    </td>

                    <td>
                        @_current.AuthorID
                    </td>


                    <td>
                        @using (Html.BeginForm("UpdateAuthor", "Author", FormMethod.Get))
                        {

                            <input type="hidden" name="AuthorID" value="@_current.AuthorID" />
                            <input type="hidden" name="FirstName" value="@_current.FirstName" />
                            <input type="hidden" name="LastName" value="@_current.LastName" />
                            <input type="hidden" name="Bio" value="@_current.Bio" />
                            <input type="hidden" name="DateOfBirth" value="@_current.DateOfBirth" />
                            <input type="hidden" name="BirthLocation" value="@_current.BirthLocation" />

                            <input class="btn btn-link" type="submit" value="Update" />


                        }
                    </td>



                    <td>

                        @using (Html.BeginForm("DeleteAuthor", "Author", FormMethod.Post))
                        {
                            <input type="hidden" name="_id" value="@_current.AuthorID" />

                            <input class="btn btn-danger" type="submit" value="Delete" />

                        }


                    </td>



                </tr>

            }

            // submit == post in controller
        }

    </tbody>
</table>


<div>
    @using (Html.BeginForm("CreateAuthor", "Author", FormMethod.Get))
    {
        <input class="btn btn-primary" type="submit" value="Add" />

    }
</div>


@section Scripts
{

    <script type="text/javascript">

        $(document).ready(function () {

            $('#tblAuthors').DataTable();


        });


    </script>

    }